
body{
height:100vh;
background-color: rgb(45, 45, 134);
font-family: arial;
color:white;
}

.scores{
  display:flex;
  justify-content:space-around;
  align-items: center;
}

.player-score,.computer-score{
  text-align:center;
  font-size: 1.2rem;
}

.intro{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro button{
  background-color: rgba(0, 0, 0, 0.65);
  border:none;
  border-radius:2px;
  color:white;
  font-size: 1.5rem;
  outline:none;
  cursor:pointer;
}

.intro button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.match{
  position:relative;
  bottom:15%;
  display:flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s ease;
}
.player-hand{
  transform: rotateY(180deg);
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options button {
  margin-left:5rem;
  margin-right: 5rem;
  background-color: rgba(0, 0, 0, 0.65);
  border:none;
  border-radius:2px;
  color:white;
  font-size: 1.5rem;
  outline:none;
  cursor:pointer;
}
.options button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.fadeout{
  opacity:0;
  pointer-events: none;
}
.fadeIn{
  opacity:1;
  pointer-events: all;
}

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0px);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0px);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0px);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
